<div id="pricing">
	<div class="row">
		<div class="col-md-5 pricebox margin">
				<h2>Ground Work’s Elite Package $300.00</h2>
				<em><h4>Exclusive Interior/Exterior Detail, Headlight Restoration</h4></em>
			<div class="row">
				<div class="col-md-6">
					<ul>
						<li><strong>Headlight Restoration (4 Step Process)</strong></li>
						<li><strong>Machine buff and wax</strong></li>
						<li><strong>Hand wax sealant</strong></li>
						<li>Hand Wash + microfiber dry</li>
						<li>Wheels polished</li>
						<li>Tires cleaned/dressed</li>
						<li>Engine bay degreased</li>
						<li>Bug and tar removal</li>
						<li>Windows washed inside and out</li>
					</ul>
				</div>
				<div class="col-md-6">
					<ul>		
						<li>Trim is restored and conditioned</li>
						<li>Mirrors cleaned</li>
						<li>Door jams cleaned</li>
						<li>Vacuum/shampoo carpet and cloth seats</li>
						<li>Vacuum/condition Leather seats</li>
						<li>Steam and remove all stains</li>
						<li>"Hard-to-reach" grime and dirt removed</li>
						<li>Upholstery wiped down, and dressed</li>
						<li>Clay Bar</li>
					</ul>
				</div>
			</div>
			<h3>Time: 5-6 hours</h3>
		</div>
		<div class="col-md-5 pricebox">
			<h2>The WORKS - Complete Detail: $150.00</h2>
			<em><h4>Full Interior/Exterior Detail</h4></em>
			<div class="row">
				<div class="col-md-6">
					<ul>
						<li>Hand Wash</li>
						<li>Microfiber towel dry</li>
						<li>Clean inside + outside of windows</li>
						<li>Clean mirrors</li>
						<li>Thorough Trunk Cleaning</li>
						<li>Clean/dress tires and rims</li>
						<li>Wax + polish exterior</li>
						<li>Small scratches buffed out</li>
					</ul>
				</div>
				<div class="col-md-6">
					<ul>				
						<li>Door jams cleaned</li>
						<li>Bug/tar removal</li>
						<li>Vacuum</li>
						<li>Leather conditioned or fabric shampooed<li>
						<li>Clean/dress dash, vents, upholstery</li>
						<li>Remove dirt and grime from “hard-to-reach” areas</li>
						<li>Small stain removal by steam</li>
					</ul>
				</div>
			</div>
			<h3>Time: 4 hours</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5 pricebox margin">
			<h2>Exterior Detail ONLY: $120.00</h2>
			<div class="row">	
				<div class="col-md-6">
					<ul>
						<li>Hand Wash</li>
						<li>Microfiber towel dry</li>
						<li>Clean inside + outside of windows</li>
						<li>Clean mirrors</li>
						<li>Clean/dress tires and rims</li>
					</ul>
				</div>
				<div class="col-md-6">
					<ul>				
						<li>Wax + polish exterior</li>
						<li>Small scratches buffed out</li>
						<li>Door jams cleaned</li>
						<li>Bug/tar removal</li>
					</ul>
				</div>
			</div>
			<h3>Time: 2-3 hours</h3>
		</div>
		<div class="col-md-5 pricebox">
			<h2>Interior Detail ONLY: $80.00</h2>
			<div class="row">
				<div class="col-md-6">
					<ul>
						<li>Vacuum</li>
						<li>Clean inside + outside of windows</li>
						<li>Clean mirrors</li>
						<li>Leather conditioned or fabric shampooed</li>
						<li>Door jams cleaned</li>
					</ul>
				</div>
				<div class="col-md-6">
					<ul>
						<li>Clean/dress dash, vents, upholstery</li>
						<li>Remove dirt and grime from “hard-to-reach” areas</li>
						<li>Small stain removal by steam</li>
					</ul>
				</div>
			</div>
		<h3>Time: 2-3 hours</h3>
		</div>
	</div>
</div>
