/* line 4, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/about.scss */
#social {
  height: 80px;
  margin: 0 5%;
  margin-top: 5%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 5px;
}
/* line 11, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/about.scss */
#social .links {
  width: 70%;
  margin-top: 20px;
}
/* line 15, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/about.scss */
#social h4 {
  margin: 0 auto;
  color: white;
}

/* line 21, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/about.scss */
#about, #about2, #about3 {
  margin: 0 5%;
  text-align: center;
  background-color: rgba(250, 250, 250, 0.95);
  padding: 0 40px;
}
/* line 26, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/about.scss */
#about h2, #about2 h2, #about3 h2 {
  margin: 0 auto 5% auto;
  color: black;
}
/* line 30, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/about.scss */
#about p, #about2 p, #about3 p {
  margin-right: 0;
  font-size: 17px;
  line-height: 25px;
  color: black;
  width: 70%;
  text-align: left;
}
/* line 38, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/about.scss */
#about .image, #about2 .image, #about3 .image {
  height: 200px;
  max-width: 100%;
  margin: 5% auto;
}
/* line 43, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/about.scss */
#about h4, #about2 h4, #about3 h4 {
  margin: 0 auto;
}
/* line 46, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/about.scss */
#about .col-md-7, #about2 .col-md-7, #about3 .col-md-7 {
  margin: 10px auto 100px auto;
}

/* line 51, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/about.scss */
#about {
  padding-top: 40px;
}

/* line 54, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/about.scss */
#about2 {
  min-height: 250px;
}
/* line 56, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/about.scss */
#about2 p {
  text-align: right;
  float: right;
}
/* line 60, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/about.scss */
#about2 .image {
  left: 0;
  right: auto;
  height: 150px;
}

/* line 66, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/about.scss */
#about3 {
  margin-bottom: 200px;
}
/* line 68, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/about.scss */
#about3 h4 {
  font-size: 20px;
  font-weight: 800;
}
/* line 4, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/admin.scss */
#loginpage {
  margin: 5% 10%;
  text-align: center;
  background-color: rgba(225, 225, 225, 0.95);
  padding: 20px 0;
  margin: 100px auto 300px auto;
  height: 500px;
  width: 400px;
}
/* line 12, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/admin.scss */
#loginpage .row {
  margin: 20px auto;
  text-align: center;
  padding-left: 0;
}
/* line 17, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/admin.scss */
#loginpage h4, #loginpage a {
  margin: 0 auto;
  display: block;
  width: 100%;
}
/* line 22, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/admin.scss */
#loginpage input, #loginpage label {
  margin: 10px auto;
  padding: 5px;
}
/* line 26, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/admin.scss */
#loginpage form {
  width: 100%;
  text-align: center;
  padding: 0 50px;
}
/* line 30, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/admin.scss */
#loginpage form #remember {
  text-align: center;
  width: 150px;
  height: 50px;
  margin: 0 auto;
}
/* line 35, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/admin.scss */
#loginpage form #remember #user_remember_me {
  margin-top: 19px;
}
/* line 4, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
.page {
  padding: 0;
}

/* line 7, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
.mobileshow {
  display: none;
}

/* line 10, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
#recentclients {
  background-image: url(/assets/IMG_3336.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 15, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
#recentclients .hideimage {
  display: none;
}
/* line 18, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
#recentclients .showimage:nth-child(1), #recentclients .showimage2:nth-child(2), #recentclients .showimage3:nth-child(3), #recentclients .showimage4:nth-child(4) {
  display: inline-block;
  margin-top: -50px;
}
/* line 22, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
#recentclients .tint {
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 25, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
#recentclients h1 {
  margin: 20px auto 10px auto;
  width: 300px;
  text-align: center;
  font-weight: 900;
  text-shadow: 1px 1px darkgrey;
  color: black;
}
/* line 33, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
#recentclients #gallery {
  height: 350px;
  text-align: center;
}
/* line 36, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
#recentclients #gallery .mySlides {
  width: 100%;
  display: none;
  margin: 20px 0;
  padding: 20px;
}
/* line 41, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
#recentclients #gallery .mySlides img {
  height: 300px;
  max-width: 100%;
}
/* line 45, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
#recentclients #gallery .mySlides p {
  text-align: center;
  padding: 20px;
  width: 100%;
  font-size: 15px;
  font-weight: 900;
  background-color: rgba(250, 250, 250, 0.8);
}
/* line 53, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
#recentclients #gallery .mySlides h5 {
  text-align: right;
  padding-right: 120px;
  padding-bottom: 20px;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.8);
  margin: 0;
}
/* line 61, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
#recentclients #gallery .mySlides .button {
  background-color: rgba(250, 250, 250, 0.3);
}
/* line 63, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
#recentclients #gallery .mySlides .button:hover {
  background-color: rgba(250, 250, 250, 0.6);
}

/* line 73, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
.links {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}
/* line 78, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
.links .medialink, .links a {
  height: 30px;
  margin: 0 auto;
  pointer: cursor;
}

/* line 85, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
#services {
  min-height: 100%;
  margin: 0;
  background-color: #fafafa;
  text-align: center;
  padding: 3%;
  padding-top: 20px;
}
/* line 92, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
#services .row {
  margin: 10px 0;
  width: 100%;
  padding: 20px;
}
/* line 97, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
#services .title {
  background-color: transparent;
}
/* line 100, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
#services hr {
  border-top: 1px solid #5a5a5a;
  width: 60%;
  margin: 10px auto;
}
/* line 105, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
#services h1 {
  font-weight: 900;
  text-shadow: 1px 1px darkgrey;
}
/* line 110, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
#services p, #services h1, #services h2, #services h3, #services a, #services h4, #services h5, #services li {
  color: black;
  margin: 0 auto;
}
/* line 114, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
#services img {
  max-width: 100%;
  max-height: 200px;
}
/* line 118, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
#services p {
  height: auto;
  width: 70%;
  font-size: 18px;
  font-weight: 900;
  display: inline-block;
}
/* line 125, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/home.scss */
#services a p {
  color: #790b0b;
  margin-bottom: 10px;
}
/* line 1, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 6, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
p {
  margin: 0;
}

/* line 9, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
h2, h3, h4, h5, h6, p, pre, li, input, textarea, .actions, #close {
  font-family: 'Forum', cursive;
}

/* line 12, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
h1 {
  font-family: 'Playfair Display SC', serif;
}

/* line 15, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
a {
  text-decoration: none;
}
/* line 17, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
a:visited {
  color: white;
}
/* line 20, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
a:hover {
  color: white;
  text-decoration: none;
}

/* line 25, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 29, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
html {
  height: 100%;
  background-color: black;
}

/* line 33, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
body {
  background-image: url(/assets/IMG_3350.JPG);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
  min-height: 100%;
}

/* line 43, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.page {
  min-height: 100%;
}

/* line 47, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
header {
  height: 150px;
  background-color: rgba(0, 0, 0, 0.75);
  display: block;
  width: 100%;
}
/* line 52, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
header h1 {
  width: 500px;
  height: 40px;
  color: white;
  margin: 40px;
  margin-left: 10%;
  display: inline-block;
}
/* line 60, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
header .dropdown {
  position: absolute;
  right: 130px;
  top: 50px;
  display: inline-block;
}
/* line 65, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
header .dropdown img {
  height: 40px;
  cursor: pointer;
  float: right;
  position: absolute;
}
/* line 72, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
header .dropdown-content {
  display: none;
  position: absolute;
  right: -40px;
  top: 40px;
  background-color: #505050;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* line 82, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
header .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* line 88, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
header .dropdown-content a:hover {
  background-color: #141414;
}
/* line 91, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
header .dropdown:hover .dropdown-content {
  display: block;
}

/* line 95, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
footer {
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  width: 100%;
  height: 100px;
  padding: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}
/* line 106, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
footer h5 {
  color: white;
  margin: 0;
}
/* line 110, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
footer a {
  height: 30px;
  width: 30px;
  margin: 25px;
}
/* line 115, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
footer img {
  width: 20px;
}
/* line 120, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
footer .mylink h5, footer .mylink a {
  color: white;
  font-size: 10px;
}

/* line 127, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
h2 {
  color: white;
}

/* line 130, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.field {
  margin: 0 auto;
  padding-left: 40%;
}

/* line 134, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.list {
  color: white;
  text-decoration-color: none;
  text-decoration-line: none;
  margin: 20px;
}

/* line 140, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
#messages {
  position: fixed;
  font-size: 20px;
  color: red;
  top: 5%;
  left: 5%;
  width: 300px;
  text-align: center;
}

/* line 149, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.comingsoon {
  height: 450px;
  margin: 50px 35px;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
}
/* line 154, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.comingsoon h3 {
  margin: 100px auto 0 auto;
}
/* line 157, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.comingsoon img {
  height: 300px;
  width: auto;
  margin: 50px auto;
  top: 80px;
  right: 200px;
  position: absolute;
}

/* line 167, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.modal {
  position: fixed;
  left: 20%;
  top: 10%;
  height: 300px;
  width: 60%;
  background-color: rgba(200, 200, 200, 0.99);
}
/* line 174, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.modal #textbox_content, .modal h4, .modal input {
  color: black;
}
/* line 177, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.modal #textbox_content, .modal input {
  font-size: 15px;
  padding: 10px;
}
/* line 181, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.modal h4 {
  margin: 20px auto;
  width: 100%;
  text-align: center;
}
/* line 186, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.modal .close {
  position: absolute;
  top: 20px;
  right: 20px;
}
/* line 192, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.modal .modal-header {
  height: 80px;
}
/* line 195, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.modal .modal-body {
  text-align: center;
}
/* line 197, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.modal .modal-body .field textarea {
  width: 70%;
  height: 80px;
  margin: 20px auto;
  overflow-y: scroll;
  text-align: center;
  padding: 10px;
}
/* line 205, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.modal .modal-body .field, .modal .modal-body .action {
  text-align: center;
  padding: 0;
}

/* line 211, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.penmargin {
  margin: 0 auto;
  width: 700px;
  text-align: center;
}

/* line 216, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.editpen {
  height: 15px;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
  margin: 0;
  padding: 0;
}

/* line 224, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.movepen {
  text-align: center;
}

/* line 227, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
#signin, #signin h5 {
  margin-top: -18px;
}

/* line 230, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
#sibox {
  width: 350px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 2px solid grey;
  padding: 30px 50px;
  position: fixed;
  top: 10%;
  right: 10%;
  text-align: center;
  z-index: 2;
  color: white;
  display: none;
}
/* line 243, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
#sibox label, #sibox input {
  margin: 8px auto;
  font-size: 13px;
}
/* line 247, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
#sibox h3 {
  margin-bottom: 20px;
}
/* line 250, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
#sibox input {
  color: black;
}
/* line 253, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
#sibox #close {
  right: 15px;
  top: 10px;
  position: absolute;
  cursor: pointer;
  font-size: 20px;
}
/* line 260, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
#sibox .field {
  padding: 0;
}
/* line 263, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
#sibox #signinsubmit input {
  background-color: white;
  padding: 1px;
}

/* line 268, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.password {
  margin: 100px;
  height: 950px;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
}
/* line 273, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.password .field {
  padding: 0;
}
/* line 276, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.password .field, .password .actions, .password a {
  margin-top: 40px;
}
/* line 279, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.password h2 {
  padding-top: 50px;
}
/* line 282, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.password input {
  margin-top: 10px;
  padding: 5px;
  font-size: 15px;
}
/* line 287, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.password hr {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
/* line 292, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/layout.scss */
.password label {
  color: white;
  font-size: 15px;
}
@media only screen and (max-width: 770px) {
  /* line 2, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/mobile.scss */
  .mobileshow {
    display: inline-block;
  }

  /* line 5, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/mobile.scss */
  .mobilehide {
    display: none;
  }

  /* line 8, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/mobile.scss */
  #recentclients #gallery .mySlides {
    height: 500px;
  }
  /* line 10, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/mobile.scss */
  #recentclients #gallery .mySlides .col-md-6, #recentclients #gallery .mySlides .col-md-5 {
    height: 100%;
  }
  /* line 13, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/mobile.scss */
  #recentclients #gallery .mySlides img {
    margin-left: 5%;
    margin-top: -20px;
    max-width: 40%;
    max-height: 100%;
    width: auto;
    height: auto;
    float: left;
  }
  /* line 24, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/mobile.scss */
  #recentclients #gallery .mySlides p {
    width: 40%;
    height: 150px;
    position: absolute;
    right: 5%;
    top: -278.5px;
    padding: 0;
    overflow: scroll;
    padding: 5px;
  }
  /* line 34, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/mobile.scss */
  #recentclients #gallery .mySlides h5 {
    position: absolute;
    right: 5%;
    top: -128.5px;
    height: 40px;
    width: 40%;
    text-align: right;
    padding: 10px;
    padding-right: 50px;
    font-weight: 900;
  }
  /* line 45, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/mobile.scss */
  #recentclients #gallery .mySlides a {
    position: absolute;
    right: 15%;
    bottom: 10px;
  }

  /* line 52, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/mobile.scss */
  #services hr {
    height: 2px;
    background-color: black;
    width: 90%;
  }
}
/* line 4, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/pricing.scss */
#pricing {
  text-align: center;
  padding: 50px 0;
}
/* line 7, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/pricing.scss */
#pricing h2, #pricing h3, #pricing h4, #pricing h5, #pricing h6, #pricing p, #pricing li {
  font-family: 'Forum', cursive;
  color: black;
  text-align: center;
}
/* line 12, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/pricing.scss */
#pricing strong {
  color: #790b0b;
}
/* line 15, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/pricing.scss */
#pricing .row {
  text-align: center;
}
/* line 18, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/pricing.scss */
#pricing .pricebox {
  background-color: rgba(225, 225, 225, 0.95);
  margin: 20px;
  padding: 30px;
}
/* line 23, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/pricing.scss */
#pricing .margin {
  margin-left: 7%;
}
/* line 26, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/pricing.scss */
#pricing ul {
  font-size: 14px;
}
/* line 28, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/pricing.scss */
#pricing ul li {
  list-style-type: none;
}
/* line 32, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/pricing.scss */
#pricing h3 {
  margin-top: 30px;
}
/* line 35, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/pricing.scss */
#pricing h4 {
  margin-bottom: 30px;
}
/* line 38, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/pricing.scss */
#pricing .col-md-7 {
  margin: 20px auto;
  padding: 5px;
}
/* line 41, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/pricing.scss */
#pricing .col-md-7 h3 {
  margin: 20px auto;
  color: #790b0b;
}
/* line 4, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/reviews.scss */
#reviews {
  margin: 5% 10%;
  text-align: center;
  background-color: rgba(225, 225, 225, 0.95);
  padding: 40px 0;
}
/* line 9, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/reviews.scss */
#reviews h6, #reviews h5, #reviews h4, #reviews input, #reviews label, #reviews textarea, #reviews .actions input, #reviews .field, #reviews .col-md-6 {
  margin: 5px auto;
  color: black;
}
/* line 13, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/reviews.scss */
#reviews hr {
  border-top: 1px solid #5a5a5a;
  width: 80%;
  margin: 10px auto;
}
/* line 18, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/reviews.scss */
#reviews h6 {
  margin: 10% auto;
  line-height: 25px;
  font-size: 13px;
}
/* line 24, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/reviews.scss */
#reviews .field {
  padding-left: 0;
}
/* line 27, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/reviews.scss */
#reviews input, #reviews textarea, #reviews label, #reviews .actions input {
  font-size: 14px;
  padding: 3px;
}
/* line 31, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/reviews.scss */
#reviews .actions input {
  width: 130px;
}
/* line 34, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/reviews.scss */
#reviews input, #reviews textarea {
  background-color: rgba(250, 250, 250, 0.9);
  border: none;
  width: 200px;
}
/* line 39, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/reviews.scss */
#reviews textarea {
  width: 250px;
}
/* line 42, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/reviews.scss */
#reviews .rating {
  height: 29px;
  width: 125px;
  margin: 0 auto;
}
/* line 47, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/reviews.scss */
#reviews .rating .star1, #reviews .rating .star2, #reviews .rating .star3, #reviews .rating .star4, #reviews .rating .star5 {
  height: 29.47px;
  width: 22px;
  background-image: url("starlist4.png");
  background-position: -1px;
  background-size: 115px 29.47px;
  overflow: hidden;
  display: inline-block;
  margin: -1px;
}
/* line 60, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/reviews.scss */
#reviews .eachreview {
  text-align: center;
  padding: 10px 50px;
  margin: 10px auto;
  width: 60%;
  background-color: rgba(250, 250, 250, 0.9);
}
/* line 66, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/reviews.scss */
#reviews .eachreview p, #reviews .eachreview .links {
  text-align: center;
  margin: 0 auto;
  color: black;
}
/* line 70, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/reviews.scss */
#reviews .eachreview p a, #reviews .eachreview .links a {
  color: black;
}
/* line 74, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/reviews.scss */
#reviews .eachreview h5 {
  width: 100px;
  color: black;
  margin-left: 75%;
}
/* line 79, /Users/hans-sebastianpalacios/Desktop/My_Sites/Groundwork/app/assets/stylesheets/reviews.scss */
#reviews .eachreview hr {
  border-top: 1px solid #949494;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

