<div id="editform">
	<%= form_with(model: textbox) do |form| %>
	  <div class="field">
	    <%= form.text_area :content, id: :textbox_content %>
	  </div>
	  <div class="actions">
	    <%= form.submit %>
	  </div>
	<% end %>
</div>