<div id="gallery">
		<h2 class="galleryheading">Recent Clients</h2>
		<%= image_tag("car2.jpg", :alt => "rss feed", :class => "mySlides") %>
		<%= image_tag("car3.jpg", :alt => "rss feed", :class => "mySlides") %>
		<%= image_tag("gallery3.jpg", :alt => "rss feed", :class => "mySlides") %>
		<%= image_tag("car5.jpg", :alt => "rss feed", :class => "mySlides") %>
</div>