// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#social {
	height: 80px;
	margin: 0;
	text-align:center;
	background-color: rgba(0,0,0,.95);
	padding: 5px;
	// display: none;
	.links {
		width: 70%;
		margin-top: 20px;
		// display: none;
	}
	h4 {
		margin: 0 auto;
		color: white;
	}

}
#about, #about2 {
	min-height: 100%;
	margin: 0;
	text-align: center;
	background-color: rgba(250,250,250,.95);
	padding: 40px;
	h2 {
		margin: 0 auto 5% auto;
		color: black;
	}
	p {
		margin-right: 0;
		font-size: 17px;
		line-height: 25px;
		color: black;
		width: 70%;
		text-align: left;
	}
	img {
		height: 200px;
		max-width: 100%;
		margin: 5% auto;
	}
}
#about2 {
	margin-bottom: 100px;
	// background-color: rgba(0,0,0,.9);
	min-height: 250px;
	p {
		text-align: right;
		float: right;
	}
	img {
		left: 0;
		right: auto;
		height: 150px;
	}
}