// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#loginpage{
	margin: 5% 10%;
	text-align: center;
	background-color: rgba(225,225,225,.95);
	padding: 20px 0;
	margin: 100px auto 300px auto;
	height: 500px;
	width: 400px;
	.row {
		margin: 20px auto;
		text-align: center;
		padding-left: 0;
	}
	h4, a {
		margin: 0 auto;
		display: block;
		width: 100%;
	}
	input, label {
		margin: 10px auto;
		padding: 5px;
	}
	form {
		width: 100%;
		text-align: center;
		padding: 0 50px;
		#remember {
			text-align: center;
			width: 150px;
			height: 50px;
			margin: 0 auto;
			#user_remember_me {
				margin-top: 19px;
			}
		}
	}
	
}