// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#homepage {
	height: 600px;
	margin: 5%;
	background-color: rgba(31,31,31,.9);
	text-align: center;
	p, h2, h3, a, h4, h5, li {
		color: rgba(224,224,224,1);
	}
	h3, .rotate {
		color: white;
	}
	#homeright {
		background-color: rgba(0,0,0,.7);
		.row {
			text-align: center;
			a {
				margin: 0 auto;
			}
			.medialink {
				width: 30px;
				margin: 30px 60% 5px 60%;
			}
		}
	}
	h3 {
		margin: 50px auto;
	}
	h4 em {
		width: 300px;
		margin: 0 auto;
	}
	.services {
		margin: 20px auto;
		max-width: 440px;
		.rotate {
				-ms-transform: rotate(-90deg);
    		-webkit-transform: rotate(-90deg);
				transform: rotate(-90deg);
				height: 20px;
				position: absolute;
				top: 430px;
				font-weight: 900;
			}
		ul {
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 100px;
			list-style-type: none;
			li h4{
				font-size: 18px;
				text-align: left;
				margin: 0;
				color: rgba(224,224,224,1);
			}
		}
		h5 {
		}
	}
	.button {
		border: 1px solid silver;
		margin: 30px auto;
		width: 400px;
		text-align: center;
		background-color: rgba(138,138,138,.6);
		padding: 10px;
		h3 {
			margin: 0;
		}
	}
	#gallery {
		width:  90%;
		height: 70%;
		margin: 20px auto;
		#galleryslides {
			height: 200px;
		}
		.mySlides {
			display: none;
			max-height: 70%;
			margin-top: 50px;
			max-width: 100%;
		  margin: 0 auto;
		}
		p {
			font-size: 18px;
			padding: 0 10%;
		}
	}
}





