// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page {
	padding: 0;
}
#homepage {
	min-height: 100%;
	margin: 0;
	background-color: rgba(250,250,250,.9);
	// background-image: image-url('/assets/IMG_3078.JPG');
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
	text-align: center;
	padding: 100px;
	padding-top: 20px;
	.row {
		margin: 40px 0;
		width: 100%;
		padding: 20px;
	}
	.tint {
		background-color: rgba(0,0,0,.85);
	}
	.services {
		background-color: rgba(0,0,0,0);
	}
	hr {
		border-top: 1px solid #5a5a5a;
		width: 60%;
		margin: 10px auto;
	}
	h1 {
		font-weight: 900;
		font-size: 50px;
		text-shadow: 1px 1px darkgrey;
	}
	p, h1, h2, h3, a, h4, h5, li {
		color: black;
		margin: 0 auto;
	}
	img {
		max-width: 100%;
		max-height: 200px;
	}
	p {
		width: 70%;
		font-size: 20px;
		font-weight: 900;
		position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
	}
	
}
#recentclients {
	.medialink {
		height: 50px;
		margin: 0 auto;
	}
	#gallery {
		width:  90%;
		height: 70%;
		margin: 20px auto;
		#galleryslides {
			height: 200px;
		}
		.mySlides {
			display: none;
			max-height: 70%;
			margin-top: 50px;
			max-width: 100%;
		  margin: 0 auto;
		}
		p {
			font-size: 18px;
			padding: 0 10%;
		}
	}
}





