// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page {
	padding: 0;
}
.mobileshow {
	display: none;
}
#recentclients {
	background-image: image-url('https://s3.us-east-2.amazonaws.com/groundworkdetailing/IMG_3336.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .hideimage {
  	display: none;
  }
  .showimage:nth-child(1), .showimage2:nth-child(2), .showimage3:nth-child(3), .showimage4:nth-child(4) {
  	display: inline-block;
  	margin-top: -50px;
  }
  .tint {
  	background-color: rgba(0,0,0,.3);
  }
	h1 {
		margin: 20px auto 10px auto;
		width: 300px;
		text-align: center;
		font-weight: 900;
		text-shadow: 1px 1px darkgrey;
		color: black;
	}
	#gallery {
		height: 350px;
		text-align: center;
		.mySlides {
			width: 100%;
			display: none;
		  margin: 20px 0;
		  padding: 20px;
		  img {
		  	height: 300px;
				max-width: 100%;
		  }
		  p {
		  	text-align: center;
		  	padding: 20px;
		  	width: 100%;
		  	font-size: 15px;
		  	font-weight: 900;
		  	background-color: rgba(250,250,250,.8);
		  }
		  h5 {
		  	text-align: right;
		  	padding-right: 120px;
		  	padding-bottom: 20px;
		  	width: 100%;
		  	background-color: rgba(250,250,250,.8);
		  	margin: 0;
		  }
		  .button {
		  	background-color: rgba(250,250,250,.3);
		  	&:hover {
		  		background-color: rgba(250,250,250,.6);
		  	}
		  }
		}
	}
}

	

.links {
	width: 30%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 30px;
	.medialink, a {
		height: 30px;
		margin: 0 auto;
		pointer: cursor;
	}
}

#services {
	min-height: 100%;
	margin: 0;
	background-color: rgba(250,250,250,1);
	text-align: center;
	padding: 3%;
	padding-top: 20px;
	.row {
		margin: 10px 0;
		width: 100%;
		padding: 20px;
	}
	.title {
		background-color: rgba(0,0,0,0);
	}
	hr {
		border-top: 1px solid #5a5a5a;
		width: 60%;
		margin: 10px auto;
	}
	h1 {
		font-weight: 900;
		// font-size: 40px;
		text-shadow: 1px 1px darkgrey;
	}
	p, h1, h2, h3, a, h4, h5, li {
		color: black;
		margin: 0 auto;
	}
	img {
		max-width: 100%;
		max-height: 200px;
	}
	p {
		height: auto;
		width: 70%;
		font-size: 18px;
		font-weight: 900;
    display: inline-block;
	}
	a p {
		color: rgba(121,11,11,1);
		margin-bottom: 10px;
	}
}



