*,
*:before,
*:after {
  box-sizing: inherit;
}
h2, h3, h4, h5, h6, p, li, input, textarea, .actions {
	font-family: 'Forum', cursive;
}
a {
	text-decoration: none;
	&:visited {
		color: white;
	}
}

html {
    height: 100%;
  	box-sizing: border-box;
  	background-color: black;
}
body {
	background-image: image-url('/assets/IMG_3350.JPG');
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
	padding: 0;
}
* {
	padding: 0;
	margin: 0;
}
header {
	min-height: 150px;
	background-color: rgba(0,0,0,.75);
	display: block;
	width: 100%;
	#h1 {
	width: 400px;
	height: 40px;
	color: white;
	font-family: 'Playfair Display SC', serif;
	margin: 40px 100px;
	font-size: 30px;
	}
	ul {
		list-style-type: none;
		color: white;
		margin-left: 150px;
	}
	li {
		display: inline;
		font-size: 15px;
	}
}
footer {
	background-color: rgba(0,0,0,.75);
	text-align: center;
  height: 80px;
  padding: 30px;
  position: absolute;
  bottom: 0;
	h5 {
	color: white;
	margin: 0;
	}
	a {
		height: 30px;
		width: 30px;
		margin: 25px;
	}
	img {
		width: 20px;

	}
	.mylink {
		h5, a {
			color: white;
			font-size: 10px;
		}
	}
}

h2 {
	color: white;
}
 .field {
	margin: 0 auto;
	padding-left: 40%;
}
.list {
	color: white;
	text-decoration-color: none;
	text-decoration-line: none;
	margin: 20px;
}
#messages {
	float: right;
	font-size: 12px;
	color: white;
	margin: 20px;
	margin-top: 30px;
	text-align: left;
}
.comingsoon {
	height: 450px;
	margin: 50px 35px;
	background-color: rgba(0,0,0,.9);
	text-align: center;
	h3 {
		margin: 100px auto 0 auto;
	}
	img {
		height: 300px;
		width: auto;
		margin: 50px auto;
		top: 80px;
		right: 200px;
		position: absolute;
	}
}
