*,
*:before,
*:after {
  box-sizing: inherit;
}

h2, h3, h4, h5, h6, p, li, input, textarea, .actions {
	font-family: 'Forum', cursive;
}
h1 {
	font-family: 'Playfair Display SC', serif;	
}
a {
	text-decoration: none;
	&:visited {
		color: white;
	}
}
* {
	padding: 0;
	margin: 0;
}
html {
    height: 100%;
  	background-color: black;
}
body {
	background-image: image-url('/assets/IMG_3350.JPG');
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
	margin: 0;
  min-height: 100%;
}
.page {
	min-height: 100%;
}

header {
	height: 150px;
	background-color: rgba(0,0,0,.75);
	display: block;
	width: 100%;
	// .headerlinks {
	// 	position: absolute;
	//   right: 145px;
	//   top: 42px;
	//   text-align: center;
	// 	 a, .medialink {
	// 		height: 20px;
	// 		margin: 0 5px;
	// 	}
	// }
	h1 {
	width: 500px;
	height: 40px;
	color: white;
	margin: 40px;
	margin-left: 200px;
	// font-size: 30px;
	display: inline-block;
	}
	.dropdown {
	   position: absolute;
	   right: 130px;
	   top: 50px;
	   display: inline-block;
		 img {
	    height: 40px;
	    cursor: pointer;
	    float: right;
	    position: absolute;
		}
	}
	.dropdown-content {
	    display: none;
	    position: absolute;
	    right: -40px;
	    top: 40px;
	    background-color: rgba(80,80,80,1);
	    min-width: 160px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;
	}
	.dropdown-content a {
	    color: white;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	}
	.dropdown-content a:hover {
		background-color: rgba(20,20,20,1);
	}
	.dropdown:hover .dropdown-content {
	    display: block;
	}
}
footer {
	background-color: rgba(0,0,0,.75);
	text-align: center;
	width: 100%;
  height: 100px;
  padding: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
	h5 {
	color: white;
	margin: 0;
	}
	a {
		height: 30px;
		width: 30px;
		margin: 25px;
	}
	img {
		width: 20px;

	}
	.mylink {
		h5, a {
			color: white;
			font-size: 10px;
		}
	}
}

h2 {
	color: white;
}
 .field {
	margin: 0 auto;
	padding-left: 40%;
}
.list {
	color: white;
	text-decoration-color: none;
	text-decoration-line: none;
	margin: 20px;
}
#messages {
	float: right;
	font-size: 12px;
	color: white;
	margin: 20px;
	margin-top: 30px;
	text-align: left;
}
.comingsoon {
	height: 450px;
	margin: 50px 35px;
	background-color: rgba(0,0,0,.9);
	text-align: center;
	h3 {
		margin: 100px auto 0 auto;
	}
	img {
		height: 300px;
		width: auto;
		margin: 50px auto;
		top: 80px;
		right: 200px;
		position: absolute;
	}
}
