@media only screen and (max-width: 770px) {
	.mobileshow {
		display: inline-block;
	}
	.mobilehide {
		display: none;
	}
	header{
		h1 {
			width: auto;
			display: block;
			margin-top: 80px;
		}
		h2 {
			margin: 40px auto;
			font-size: 20px;
		}
		.dropdown {
			img{
				display: block;
				margin: 20px;
				top: -50px;
				right: -120px;
				position: absolute;
			}
			.dropdown-content {
				right: -98px;
				top: 10px;
			}
		}
	}
	
	body {
		background-color: rgba(20,20,20,1);
		background: none;
	}

	footer {
		height: auto;
		img {
			margin-bottom: 20px;
			width: 5%;
			margin: 20px;
		}
	}

	div#pricing {
		padding-bottom: 0;
		.pricebox {
			background-color: rgba(250,250,250,1);
		}
		.margin {
			margin-left: 0px;
			margin: 20px;
		}
		.col-md-7 {
			margin: 20px;
		}
	}

	#recentclients {
		// position: relative;
		height: 750px;
		padding-top: 0;
		background: url('https://s3.us-east-2.amazonaws.com/groundworkdetailing/IMG_3336.JPG');
		background-position: center;
 	 	background-repeat: no-repeat;
 	 	background-size: cover;background-color: none;
		.col-md-5, .col-sm-5, .col-xs-5 {
				background-color: rgba(0,0,0,.7);
				padding-bottom: 20px;
			}
			.caption p {
				margin-bottom: 20px;
			}
		#gallery .mySlides {
			height: auto;
			// position: absolute;
			// top: -;
			.col-md-6, .col-md-5 {
				// height: 100%;
			}
			.title h2 {
				margin: 30px auto;
			}
			img {
				// margin: -20px auto 20px auto;
				height: 250px;
	  		width: auto;
			}
			p {
				width: 80%;
				overflow: scroll;
				padding: 15px;
				padding-bottom: 0;
				display: block;
				margin: 0 auto;
				font-size: 12px;
			}
			h5 {
				width: 80%;
				text-align: right;
				padding: 10px;
				font-weight: 900;
				display: block;
				margin: 0 auto;
				font-size: 12px;
				font-weight: 900;
			}
			a.button {
				margin: 25px auto;
				display: block;
			}
		}
	}
	#services {
		background-color: rgba(250,250,250,1);
		hr {
			height: 2px;
			background-color: black;
			width: 90%;
		}
		p {
			font-size: 15px;
			margin-top: 10px;
		}
	}

	#reviews {
		background-color: rgba(250,250,250,1);
		div.eachreview {
			width: 90%;
		}
	}
	#about, #about2, #about3 {
		background-color: rgba(250,250,250,1);
		p {
			width: auto;
			text-align: center;
			font-size: 15px;
		}
	}
	#about3 {
		margin-bottom: 20px;
	}
}
