// Place all the styles related to the pricing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#pricing {
	h2, h3, h4, h5, h6, p, li {
// font-family: 'Cinzel', serif;
	font-family: 'Forum', cursive;
	color: black;
	text-align: center;
	}
	margin-bottom: 100px;
	margin-top: 50px;
	text-align: center;
	background-color: rgba(0,0,0,.9);
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	padding: 50px 0;
	.row {
		text-align: center;
	}
	.pricebox {
		background-color: rgba(234,234,234,.6);
		margin: 20px;
		padding: 30px;
	}
	.margin {
		margin-left: 7%;
	}
	ul {
		font-size: 14px;
		li {
			list-style-type: none;
		}
	}
	h3 {
		margin-top: 30px;
	}
	h4{
		margin-bottom: 30px;
	}
}
