// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comingsoon {
	height: 450px;
	margin: 50px 35px;
	background-color: rgba(0,0,0,.9);
	text-align: center;
	h2 {
		width: 100%;
		margin: 100px 50px 0 50px;
	}
	img {
		height: 300px;
		width: auto;
		margin: 50px;
		top: 80px;
		right: 200px;
		position: absolute;
	}
}