<footer class="container-fluid">	
	<div class="row">
		<div class="col-md-4">
			<a href="https://www.facebook.com/groundworkdetailing/" target="_blank"/><%= image_tag("bwfb.png", :alt => "rss feed") %></a>
			<a href="https://www.instagram.com/groundworkdetailing/" target="_blank"/><%= image_tag("bwinsta.png", :alt => "rss feed") %></a>
			<a href="https://twitter.com/search?q=%40Gworkdetailing&src=typd" target="_blank" ><%= image_tag("bwtwitter.png", :alt => "rss feed") %></a>
		</div>
		<div class="col-md-4">
			<h5>Manchester, CT</h5>
		</div>
		<div class="col-md-4 mylink">
			<h5>Website developed by</h5>
			<a href="https://www.hspalacios.com" target="_blank" >Hans Palacios</a>
		</div>
	</div>
</footer>